@page "/categories"
@rendermode InteractiveServer
@using BlazorExpenseTracker.Model
@inject ICategoryService CategoryService


<h1>Categories</h1>
<p>@Message</p>

@if (CategoryList == null)
{
    <p><em>loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2"><a href="/categorydetails">Add New</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr><th>Name</th></tr>
        </thead>
        <tbody>
            @foreach (var category in CategoryList)
            {
                <tr>
                    <td>@category.Name</td>
                    <td><a href="/categorydetails/@category.Id"><i>Edit</i></a></td>
                    <td><a href="/categorydelete/@category.Id"><i>Delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public IEnumerable<Category> CategoryList { get; set; }
    public string Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            CategoryList = await CategoryService.GetAllCategoriesAsync();
        }
        catch (Exception ex)
        {
            Message = "Something went wrong..." + ex.Message;
        }
    }
}